<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">
    <title>Admin Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Admin Login</h1>
        <div id="error-message" class="error-message" style="display: none;">
            <p class="error"></p>
        </div>
        <form id="admin-login-form">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/adminlogin.js') }}"></script>
</body>
</html>
